
    @charset "UTF-8";

body {
    background-color: rgb(197, 252, 197);
    font-family: Arial, Helvetica, sans-serif;
    width: 650px;
}
h1 {
    color: rgb(4, 211, 4);

}
h1#principal {
    text-align: center;
    background-color: rgb(4, 211, 4);
    color: white;
}
h2 {
    color: rgb(65, 128, 65);

}
p {
    text-align: justify;
    text-indent: 40px;    
}
.basico {
    color: rgb(65, 128, 65);
    font-weight: bolder;
}
.intermediario {
    color: rgb(210, 221, 53);
}
.avançado {
    color: rgb(87, 52, 6);
}







